$fuentePrincipal: 'Roboto','Noto',sans-serif;

//Colores
$grisOscuro: #181818;
$gris-claro: #393939;
$gris-scrollbar: #828282 ;
$gris: #212121;
$blanco: #fff;

//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

//Peso de Fuente
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//separacion
$separacion: 5rem;
