{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": { //rtargets son versiones que va a soportar
                    "node": "current"
                }
            }
        ]
    ]
}